.ipynb_checkpoints
aa_a_apr.png
corr_matrix.png
d_e_apr.png
esd_scatter.png
occupations_ps.csv
output_toggle.tpl
Prosper Loan Data - Report of Findings.pdf
prosper_loan_data_analysis_slide.ipynb
prosper_loan_data_analysis_slide.slides.html
prosper_loan_data_eda.html
prosperLoanData.csv
prosper_loan_data_eda.pdf
prosper_rating.png
prosper_score.png
rating_corr.png